<h1>Home Page</h1>

<p>Yo yo yo!! Whats UP???  Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
  pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
  et,facilisis tempor duis orci. Sed molestie sem in duis eu id, nisl id ultricies metus blandit eget praesent, pede
  tempornullam. Nulla id suscipit reiciendis nulla erat. Porta enim aute
  luctus,ducimus sodales dolor.
</p>

<label for="message">Enter your thoughts below.</label><br>
<textarea name="message" rows="10" cols="30">
  The cat was playing in the garden.
  </textarea>